 body {
     background-image: url(../img/bkgrnd.png);
     background-repeat-x: no-repeat;
     background-repeat-y: no-repeat;
     background-position-x: center;
     background-position-y: center;
 }
 
 @media (min-width: 1100px) {
     body {
         background-size: cover;
     }
 }